@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
.card {
    border: 1 !important;
    padding: 0 !important;
    margin: 20px;
    border-radius: 1.5rem !important;
    background: whitesmoke !important;
    cursor: pointer;
    flex-basis: calc(33% - 40px);
    
}

@media (max-width: 1000px) {
    .card {
        flex-basis: calc(50% - 40px);
    }
}

@media (max-width: 800px) {
    .card {
        flex-basis: 100%;
    }
}

.card:hover {
    background: #b5b2b2 !important;
}
  
.card_title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px !important;
}

.publisher {
    margin-top:40px;
    text-align: end;
}

.badges {
    font-size: 20px;
}

.badge {
    background-color: skyblue;
}