nav {
    background: #D9D9D9;
    font-weight: bold;
}

nav a:hover {
    color: rgb(76, 112, 184) !important;
}

.logout {
    position: relative;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 20px;
    font-size: 12px !important;
    text-align: center;
    line-height: 1;
    background-color: #C6D8F3;
    border-radius: 0.25rem;
    cursor: pointer;
}

.logout:hover {
    background-color: #96a4b9;
}

.header{
    background: #F6EDED4D;
    padding: 30px !important;
    flex-direction: column;
    justify-content: center;
}

.btn_group {
    display: block !important;
}

.btn_large {
    width: 100px;
    height: 40px;
    padding: 0 !important;
    line-height: 40px !important;
    text-align: center;
    margin: 10px 20px 10px 0;
    border-radius: 0.25rem !important;
}

.header .btn-secondary {
    width: 60px;
    height: 20px;
    margin: 10px 10px 10px 0;
    padding: 0;
    font-size: 12px;
    background: #C6D8F3;
    color: black;
    border: none;
    border-radius: 0.25rem !important;
}