.card {
    border: 1px solid black !important;
    padding: 0 !important;
    border-radius: 0.25rem !important;
    background-color: #89F0F5 !important;

    
    /* cursor: pointer; */
}
.cardheader{
    text-align: center;
    color:black !important;
    font-size: 20px !important;
    font-weight: bold;
    height: 40px;
}
.item{
    height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
.button_join{
    border: solid 2px black !important;
    border-radius: 0rem !important;
    background-color: #D1F489 !important;
    color: black !important;
    font-weight: bold !important;
}

.button_join:hover{
    border: solid 1px black !important;
    border-radius: 0rem !important;
    background-color: #FFE500 !important;
    color: red !important;
    font-weight: bold !important;
}

.button_cancel{
    border: solid 1px black !important;
    border-radius: 0rem !important;
    background-color: #FFE500 !important;
    color: red !important;
    font-weight: bold !important;
}

.button_cancel:hover{
    border: solid 2px black !important;
    border-radius: 0rem !important;
    background-color: #D1F489 !important;
    color: black !important;
    font-weight: bold !important;
}