@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
.card {
    padding: 0 !important;
    border-radius: 0.25rem !important;
    width: 60%;
    float: left;
}
.cardheader{
    padding:0;
    text-align: center;
    color:black !important;
    font-size: 30px !important;
    font-weight: bold;
    font-family: 'Cute Font', cursive;
}
.item{
    padding:0;
    text-align: center;
    font-size: 25px;
    font-family: 'Cute Font', cursive;
    font-weight: bold;
}

.button_box{
    float: left;
    margin-left: 2%;
}


.button_join{
    border: solid 1px black !important;
    background-color: lightgray !important;
    font-size:20px;
    font-weight: bold !important;
}

.button_join:hover{
    border: solid 2px black !important;
    font-weight: bold !important;
}

.button_cancel{
    border: solid 1px black !important;
    background-color: lightgray !important;
    font-size:20px;
    font-weight: bold !important;
}

.button_cancel:hover{
    border: solid 2px black !important;
    background-color: #D1F489 !important;
    color: black !important;
    font-weight: bold !important;
}