.container {
    padding: 1%;
    align-items: center;
    background-color: whitesmoke;
  }
    
.page{
    border: 1px solid black;
    border-radius: 1%;
    background-color: #FFFFFF;
    display: inline-block;
    width: 100%;
}    

.infobox{
    margin-top: 1%;
    width:70%;
    display: block;
    float: left;
}

.titlebadge{
    border: 1px solid black;
    background-color: 	#89F0F5 ;
    margin: 1% 1% 0% 1%;
    height: 40px;
    width: 25%;
    color:gray ;
    font-size: 20px !important;
    text-align: center;
    float: left ;
    padding: 1%;
}

.title{
    width: 70%;
    border: 1px solid black ;
    margin:1%;
    height: 40px;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
}
.content{
    width: 70%;
    border: 1px solid black ;
    margin:1%;
    margin-top: 2%;
    font-size: 16px;
    padding: 8px;
    font-weight: 500;
    float: none;
    
}


.badgebox{
    align-items: center;
    margin-top: 1%;
    width:95%;
    display: block;
    float: left;
    /* background-color: aquamarine; */
}

.badge {
    border: 1px solid black;
    background-color:#D1F489 ;
    color:black ;
    margin-left : 2%;
    margin-right : 3%;
    padding: 1% ;
    height: 30px;
    width: 25%;
    text-align: center;
    font-size: 15px !important;
    float: left ;
}
.badge1{
    margin-top: 1%;
}
.badge5{
    background-color: #FFE500;
}
.badgetext {
    border: 1px solid black ;
    margin: 1% ;
    height: 30px ;
    width: 70%;
    text-align: center;
    float: none ;
    white-space: nowrap;
}
.badgetext_link {
    border: 1px solid black ;
    background-color: #FFE500;
    margin: 1% ;
    height: 30px ;
    width: 70%;
    text-align: center;
    float: none ;
    white-space: nowrap;
    
}
.badgetext_link:hover {
    transition:1s;
    background-color: #fff9bf;
}

.link{
    margin: 1%;
    color: black;
    text-decoration: none;
    height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: color 1s;

}
.link:hover{
    color: skyblue;
}

.participant{
    margin-top: 1%;
    padding: 1% 0;
    display: block;
    width: 20%;
    float: left;
}

.buttonbox{
    width: 10%;
    margin-top: 1%;
    padding: 1% 0;
    display: block;
    float: left;
    
}
.button{
    font-weight: bold;
    border: 3px solid;
}