@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
.container {
    padding: 1%;
    align-items: center;
    background-color: whitesmoke;
  }
    
.page{
    border: 1px solid black;
    border-radius: 1%;
    display: inline-block;
    width: 100%;

}    

.infobox{
    /* margin-top: 1%; */
    margin-left: auto;
    margin-right: auto;
    width:60%;
    /* background-color: aquamarine; */
    /* display: block; */
    float: left;
}


.title{
    width: 98%;
    border:none !important;
    margin:2%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Cute Font', cursive;
}
.content{
    width: 98%;
    border:none !important;
    margin:2%;
    margin-top: 2%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Cute Font', cursive;
    float: none;
    
}


.badgebox{
    align-items: center;
    margin-top: 1%;
    width:99%;
    display: block;
    float: left;
}

.badge {
    color:black !important;
    margin-left : 2%;
    padding: 1% ;
    height: 30px;
    width: 15%;
    text-align: left;
    font-size: 20px !important;
    font-family: 'Cute Font', cursive;
    float: left ;
}
.badge1{
    margin-top: 1%;
}

.badgetext {
    background-color: whitesmoke;
    border: none !important;
    margin: 1%;
    height: 30px ;
    width: 83%;
    font-size: 20px !important;
    font-family: 'Cute Font', cursive;
    float: none ;
    white-space: nowrap;
}
.badgetext_link {
    border: 2px solid gray ;
    background-color: #FFE533 !important;
    margin: 1% ;
    width: 55%;
    height: 35px;
    text-align: center;
    float: left ;
    white-space: nowrap;
    
}
.badgetext_link:hover {
    transition:1s;
    background-color: #fff9bf;
}

.link{
    margin: 1%;
    color: black;
    text-decoration: none;
    height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: color 1s;

}
.link:hover{
    color: skyblue;
}

.button{
    font-weight: bold;
    border: 3px solid;
    margin: 1%;
    width: 19%;
    height: 35px;
    /* display: block; */
    float: left;
}

.participant{
    margin-top: 1%;
    padding: 1%;
    display: block;
    width: 30%;
    float: left;
}