.badge2, .badge3 {
    margin: 2px 10px 10px 10px;
    width: 10%;
    text-align: center;
    display: block !important; 
    float: left !important;
}
.badge2 {
    margin-left: 30px;
}
.text2 {
    width: 30%;
    display: block !important;
    text-align: center;
    float: left !important;
}
.badgetag {
    margin: 5px;
    float: left;
    text-align: center;
}
.horizontal-container {
    display: flex;
    align-items: center;
  }
    
    
.title2{
    margin:10px;
    height: 40px;
    
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
}
.content2{
    margin:10px;
    
    font-size: 16px;
    padding: 8px;
    font-weight: 500;
}
.linkbox2{
    margin:10px;
}
.link2{
    margin: 10px;
    color: black;
    text-decoration: none;
    height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: color 1s;

}
.link2:hover{
    color: gray;
}

.form-buttons .main-button{
    background-color: rgb(38, 38, 248);
  }
  .main-button .link-main{
    text-decoration: none;
    color:white;
  }
  .form-buttons .submit-button{

    float: right;
    background-color: rgb(248, 38, 38);
    color: white;
  }